{% extends "base.html" %}

{% block title %}
{{package.name}} {{current_release.version}} · Viper
{% end %}

{% block content %}
<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1>{{package.name}} <small>{{current_release.version}}</small></h1>
			{% if current_release.summary %}
			<h3>{{current_release.summary}}</h3>
			{% end %}
		</div>
	</div>
</div>
<div class="row">
	<div class="span12">
		<div class="tabbable">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#description" data-toggle="tab">Description</a></li>
				<li><a href="#info" data-toggle="tab">Info</a></li>
				<li><a href="#files" data-toggle="tab">Files ({{len(current_release.files)}})</a></li>
				<li><a href="#releases" data-toggle="tab">All Releases ({{len(package.releases())}})</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="description">
					{% if current_release.html_description() %}
					{% raw current_release.html_description() %}
					{% else %}
					<div class="alert">
						<h4 class="alert-heading">No description available!</h4>
						Users will be happier if you add a long description to this package
					</div>
					{% end %}
				</div>

				<div class="tab-pane" id="info">
					<dl>
					        <dt>Author</dt>
						<dd>{{current_release.author}}</dd>
						{% if current_release.home_page %}
						<dt>Home Page</dt>
						<dd><a href="{{current_release.home_page}}">{{current_release.home_page}}</a></dd>
						{% end %}
						{% if current_release.license %}
						<dt>License</dt>
						<dd>{{current_release.license}}</dd>
						{% end %}
						{% if current_release.classifiers %}
						<dt>Classifiers</dt>
						<dd>
						<ul class="unstyled">
							{% for classifier in current_release.classifiers %}
							<li>{{classifier}}</li>
							{% end %}
						</ul>
						</dd>
						{% end %}
					</dl>
				</div>
				<div class="tab-pane" id="files">
					{% if current_release.files %}
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>File</th>
								<th>Type</th>
							</tr>
						</thead>
						<tbody>
							{% for file_ in current_release.files.values() %}
							<tr>
								<td><a href="{{handler.reverse_url('file', file_.name)}}">{{file_.name}}</a> ({{file_.md5_digest}})</td>
								<td>{{file_.filetype}}</td>
							</tr>
							{% end %}
						</tbody>
					</table>
					{% else %}
					<div class="alert">
						<h4 class="alert-heading">No files available!</h4>
						Users will be happier if you add some files to this release
					</div>
					{% end %}
				</div>
				<div class="tab-pane" id="releases">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>Release</th>
								<th>Released on</th>
							</tr>
						</thead>
						<tbody>
							{% for release in package.releases() %}
							<tr>
								<td><a href="{{handler.reverse_url('package_with_version', package.name, release.version)}}">{{release.version}}</a></td>
								<td>{{locale.format_date(release.created_on)}}</td>
							</tr>
							{% end %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% end %}
