{% extends "base.html" %}

{% block title %}
{{package.name}} {{last_release.version}} · Viper
{% end %}

{% block content %}
<div class="row">
	<div class="span12">
		<div class="page-header">
			<h1>{{package.name}} <small>{{last_release.version}}</small></h1>
			<h3>{{last_release.summary}}</h3>
		</div>
	</div>
</div>
<div class="row">
	<div class="span12">
		<div class="tabbable">
			<ul class="nav nav-tabs">
				<li class="active"><a href="#description" data-toggle="tab">Description</a></li>
				<li><a href="#info" data-toggle="tab">Info</a></li>
				<li><a href="#files" data-toggle="tab">Files ({{len(last_release.files)}})</a></li>
			</ul>
			<div class="tab-content">
				<div class="tab-pane active" id="description">
					{% raw last_release.html_description() %}
				</div>
				<div class="tab-pane" id="info">
					<dl>
					        <dt>Author</dt>
						<dd>{{last_release.author}}</dd>
						<dt>Home Page</dt>
						<dd><a href="{{last_release.home_page}}">{{last_release.home_page}}</a></dd>
						<dt>License</dt>
						<dd>{{last_release.license}}</dd>
						<dt>Classifiers</dt>
						<dd>
						<ul class="unstyled">
							{% for classifier in last_release.classifiers %}
							<li>{{classifier}}</li>
							{% end %}
						</ul>
						</dd>
					</dl>
				</div>
				<div class="tab-pane" id="files">
					<table class="table table-bordered">
						<thead>
							<tr>
								<th>File</th>
								<th>Type</th>
							</tr>
						</thead>
						<tbody>
							{% for file_ in last_release.files.values() %}
							<tr>
								<td>{{file_.name}} ({{file_.md5_digest}})</td>
								<td>{{file_.filetype}}</td>
							</tr>
							{% end %}
						</tbody>
					</table>
				</div>
			</div>
		</div>
	</div>
</div>
{% end %}
